<div align="center">
	<table style="width: 100%; border: 1px solid #ddd; border-collapse: collapse;">
		<caption >View Tickets</caption>
		<!-- <thead>
			<th  style="border: 1px solid black;">Defect Id</th>
			<th  style="border: 1px solid black;">Summary</th>
			<th  style="border: 1px solid black;">Description</th>
			<th  style="border: 1px solid black;">Assigned To</th>
		</thead> -->
		<tbody >
			<tr>
				
					<td  style="border: 1px solid black;">Summary</td>
					<td  style="border: 1px solid black;"><input type="text" ng-model="ticketSummary" /></td>

			</tr>
			<tr>		
					<td  style="border: 1px solid black;">Description</td>
					<td  style="border: 1px solid black;"><input type="text" ng-model="ticketDescription" /></td>
				
			</tr>
			<tr>		
					<td  style="border: 1px solid black;"></td>
					<td  style="border: 1px solid black;"><button ng-click="updateTicket();">Update Ticket</button></td>
				
			</tr>
			<!-- <tr>
				<td  style="border: 1px solid black;  ">102</td>
				<td  style="  border: 1px solid black; ">Login not working</td>
				<td  style=" border: 1px solid black;">Ashish</td>
			</tr> -->
			
		</tbody>
	</table>
</div>