<div align="center">
	<table style="width: 100%; border: 1px solid #ddd; border-collapse: collapse;">
		<caption >View Tickets</caption>
		<thead>
			<th  style="border: 1px solid black;">Defect Id</th>
			<th  style="border: 1px solid black;">Summary</th>
			<th  style="border: 1px solid black;">Assigned To</th>
		</thead>
		<tbody >
			<tr>
				<td  style="border: 1px solid black;">101</td>
				<td  style="border: 1px solid black;">UI not
					responsive</td>
				<td  style="border: 1px solid black;">Priyanka</td>
			</tr>
			<tr>
				<td  style="border: 1px solid black;  ">102</td>
				<td  style="  border: 1px solid black; ">Login not working</td>
				<td  style=" border: 1px solid black;">Ashish</td>
			</tr>
			
		</tbody>
	</table>
</div>