<div align="center">
	<table style="width: 100%; border: 1px solid #ddd; border-collapse: collapse;">
		<caption >View Ticket</caption>
		<thead>
			<th  style="border: 1px solid black;">Defect Id</th>
			<th  style="border: 1px solid black;">Summary</th>
			<th  style="border: 1px solid black;">Description</th>
			<th  style="border: 1px solid black;">Assigned To</th>
			<th  style="border: 1px solid black;">Action</th>
		</thead>
		<tbody >
			<tr>
				<td  style="border: 1px solid black;">{{ticket.id}}</td>
				<td  style="border: 1px solid black;">{{ticket.summary}}</td>
				<td  style="border: 1px solid black;">{{ticket.description}}</td>
				<td  style="border: 1px solid black;">{{ticket.assignedToId}}</td>
				<td  style="border: 1px solid black;"><a  href="#/updateTicket/{{ticket.id}}/{{ticket.summary}}/{{ticket.description}}">Edit</a>&nbsp&nbsp<a href="" ng-click="deleteTicket(ticket.id);">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a href="#dashboard">Back to dash board</a>
	<a href="#logout">logout</a>
</div>